.bride-packages {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;

    .item {
        @apply relative cursor-pointer text-center;
        &:hover .description:not(.shown) {
            @apply opacity-75;
        }
    }

    @media (min-width: 900px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}