footer {
    @apply flex justify-between items-end  pt-12 mt-12 mb-4 relative;
    background: url("../../images/footer-leaf.png") no-repeat top center;

    &:before {
        @apply absolute top-0 mx-20;
        background: url("../../images/footer-leaf.png") no-repeat top center;
        content: '';
    }
    &.home{
        top:-60px;
        z-index:20;
    }
}
