.leaf {
    @apply my-4;
    background-image: url("../../images/leaf.png");
    background-repeat: no-repeat;
    background-position: right;
    height: 117px;
    margin-right: 30%;
    z-index:1;
}
